<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="../favicon.ico"/>
	<title>Cadastrar funcionário </title>
	<link rel="stylesheet" type="text/css"
		href="../resources/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="../resources/css/main.css">
	<link href="../resources/css/all.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<div class="container-fluid">
		  <span class="navbar-brand mb-0 h1">Cadastro de Funcionário</span>
		  <button type="button" class="btn btn-info add-new" 
		  	style="background-color: #e8ba0f; border:1px solid #dcdcdc;"
		  	onclick="window.location.href = '../index.html'">
			<i class="fas fa-undo"></i> 
		  	Voltar
		  </button>
		</div>
	</nav>

	<form id="cadastro" v-on:submit.prevent="criarFuncionario" style="display: flex; flex-direction: column; align-items: center;">
		<div class="form-group col-md-5" style="margin-top: 20px;">
			<label class="form-label" for="funcionario.nome">Nome: <h11 style="color:red;">*</h11></label>
			<input id="Nome" class="form-control" type="text" v-model="funcionario.nome" required>
		</div>
		<div class="form-group col-md-5">
			<label class="form-label" for="funcionario.setor.id">Setor: <h11 style="color:red;">*</h11></label>
			<select id="Setor" class="form-control" type="text" v-model="funcionario.setor.id" required>
				<option v-for="setor in setores" v-bind:value="setor.id">{{setor.nome}}</option>
			</select>
		</div>
		<div class="form-group col-md-5">
			<label class="form-label" for="funcionario.salario">Salário: </label>
			<input id="Salario" class="form-control" type="text" v-model="funcionario.salario">
		</div>
		<div class="form-group col-md-5">
			<label class="form-label" for="funcionario.email">E-mail: <h11 style="color:red;">*</h11></label>
			<input id="Email" class="form-control" type="text" v-model="funcionario.email" required>
		</div>
		<div class="form-group col-md-5">
			<label class="form-label" for="funcionario.idade">Idade: </label>
			<input id="Idade" class="form-control" type="text" v-model="funcionario.idade">
		</div>
		<button type="submit" class="btn btn-primary" style="margin-top: 20px; background-color: #e8ba0f; border: 1px solid #dcdcdc;">Cadastrar</button>
	</form>




	<script src="../resources/js/vue.js"></script>
	<script src="../resources/js/axios.min.js"></script>
	<script src="../resources/js/cadastro-de-funcionario.js"></script>
</body>
</html>