<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="favicon.ico"/>
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
<link href="resources/css/all.css" rel="stylesheet">

</head>

<body>


	<div id="inicio" class="container-fluid table" >
		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">
			  <span class="navbar-brand mb-0 h1">Lista dos Funcionários</span>
			  <button type="button" class="btn btn-info add-new" 
			  style="background-color: #e8ba0f; border:1px solid #dcdcdc;"
			  onclick="window.location.href = 'pages/novo-funcionario.html'">
			  <i class="fas fa-plus"></i> Cadastrar novo
			</button>
			</div>
		  </nav>
		<table class="table table-hover" id="event-table">
			<thead>
		  		<tr>
					<th>Nome</th>
					<th>Setor</th>
					<th>Salário</th>
					<th>Email</th>
					<th>Idade</th>
					<th>Ações</th>
		  		</tr>
		  	</thead>
			  <tbody id="event-table">
				  
				  <tr v-for="funcionario in listaFuncionarios">
					  <td>{{ funcionario.nome }}</td>
					  <td>{{ funcionario.setor.nome }}</td>
					  <td>{{ funcionario.salario }}</td>
					  <td>{{ funcionario.email }}</td>
					  <td>{{ funcionario.idade }}</td>
					  <td>
						<button class="btn" v-on:click="editarFuncionario(funcionario.id)">&#9998;</button>
						<button class="btn" v-on:click="deletarFuncionario(funcionario.id)" class="btn" >&#10006;</button>
					  </td>
				  </tr>
			  </tbody>
		</table>
	  </div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>